@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;600;700;800&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16px;
    --dark-gray: #373737;
    --dark-blue: #22577A;
    --green: #57CC99;
    --bright-gary: #F4F4F4;

}

/* General Styles */

li, a {
    text-decoration: none;
    list-style: none;
}


.empty-btn {
    height: 2.5em;
    width: 7.7em;
    background-color: white;
    border-radius: 40px;
    border: 3.1px solid var(--green);
    cursor: pointer;
    font-weight: 600;
    color: var(--green);
    transition: all 0.3s ease;
    
}

.empty-btn:hover {
    background-color: var(--green);
    color: white;
    transform: translateY(-7px);
}


/* Navbar */
.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 2% 15%;
}

.links {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.logo {
    width: 4em;
    margin-right: auto;
}

.nav-link {
    display: inline-block;
    padding-left: 12%;
    
    
}

.a-link {
    color: var(--dark-gray);
    position: relative;

}

.a-link::after {
    content: "";
    position: absolute;
    background-color: var(--green);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -7px;
    transition: 0.2s ease;
}

.a-link:hover::after {
    width: 100%;
}

.selected-page::after {
    content: "";
    position: absolute;
    background-color: var(--green);
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -7px;
    cursor: default;
}
